@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap');

body{
    margin: 0;
}
.grid{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12% 88%;
   

}

/* grid items */
.grid__items:first-child, .grid__items:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightseagreen;
    color: #ffffff;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: bold;
 
} 
.nav-link-c {
    text-decoration: none;
    color: white;
}

.grid__items:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(../imagenes/Collage-GeekGirls.jpg);
    background-repeat: no-repeat;
    background-size:45% 100%; ;
    background-position: center;
    
    
}

/* contenedor lista */

.list{
    display: flex;  
    
}

/* list items */
.list__items{
    align-items: flex-end;
    list-style: none;
    padding: 10px;
    padding-left: 45px;
    
}

/* main */
.container{
    margin-top: 45px;
    border: 1px solid transparent;
    width: 90%;
    margin: auto;
}


.container-team {
    font-family: "Rubik";
    font-size: 24px;
    font-weight: bold;
    color: #099d8d;
    text-align: center;
}
.strengths {
    font-family: "Rubik";
    font-size: 22px;
    font-weight: bold;
    color: #099d8d;
    text-align: center;

}
.weaknesses {
    padding: 3rem 0 0 0;
    font-family: "Rubik";
    font-size: 22px;
    font-weight: bold;
    color: #099d8d;
    text-align: center;
}
.container-fd{
    background-color: #eae7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #54585A;
    font-size: 16px;
    font-family: "Open sans";
    text-align: center;
    padding: 3rem;
    font-weight: normal;
}
.title {
    font-family: "Rubik";
    font-size: 24px;
    font-weight: bold;
    color: #099d8d;
    text-align: center;
}
.integrantes, .integrantes-M{

    display: flex;
    width: 100%;
    height: 500px;
    color: #54585A;
    font-size: 20px;
    font-family: "Open sans";
    padding-right: 3rem;
    font-weight: bold;
    margin-top: 50px;
    
}
.integrantes-M{
    text-align: left;
    justify-content: right;
}
.foto, .foto-m{
    display: flex;
    justify-content: center;
    width: 40%;
}
.foto-m{
    position: relative;
    float: right;
}

.foto__img, .foto__img-m{
    width: 278px;
    height: 278px;
    border-radius: 10px;
}
.foto__img-m{

  position: relative;
  float: right;
  justify-content: right;
}



.info,.info-m {
    width: 40%;
    text-align: left;
    color: #54585A;
    font-size: 16px;
    font-family: "Open sans";
    text-align: left;
    font-weight: normal;
    
}

.info-m{
    background-position: right;
    position: relative;
    float: left;
    
}

.info__parrafo{
    text-align: left;
}
.info__parrafo-m{
    text-align: right;
   
}

p {
    color: #54585A;
    font-size: 16px;
    font-family: "Open sans";
    text-align: center;
    font-weight: normal;
}


.page-footer{
    display: flex;
    flex-shrink: none;
    margin:25px;
    border-top: 1px solid #B8B8B9;
}

.row{
    display: flex;
    justify-content: space-between;
    
}
.list-footer{
    font-family: "Open sans";
    font-weight: bold;
    text-align: center;
    padding-inline-start: 0; 
    list-style: none; 
    margin-bottom: 0px; 
    color: #54585A; 
    font-size:14px;
}